<li class="card__list-li">
<p class="card__list-p no-margin flex flex-v-center">
  <span class="card__list-total bold"><%= total || 0 %></span>
  <i class="card__list-icon icon--redlist-medium"><%= id %></i>
  <span class="card__list-title light"><%= name %></span>
</p>
</li>
