<!DOCTYPE html>
<html>
    <head>
      <link rel="stylesheet" type="text/css" href="/stylesheets/sass/style.css" />
      <title>Species View</title>
    </head>
    <body>
      <div class='test'>
        <% @rows.each do |row| %>
          <%= row %>
        <% end %>
      </div>
    </body>
</html>
