@charset "UTF-8";
@font-face {
  font-family: 'fontello';
  src: font-url("fontello.eot?23169593");
  src: font-url("fontello.eot?23169593#iefix") format("embedded-opentype"), font-url("fontello.woff2?23169593") format("woff2"), font-url("fontello.woff?23169593") format("woff"), font-url("fontello.ttf?23169593") format("truetype"), font-url("fontello.svg?23169593#fontello") format("svg");
  font-weight: normal;
  font-style: normal; }
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?37024913#fontello') format('svg');
  }
}
*/
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */ }

.icon-flower:before {
  content: '\e800'; }

/* '' */
.icon-clipboard:before {
  content: '\e801'; }

/* '' */
.icon-download:before {
  content: '\e802'; }

/* '' */
.icon-dashboard:before {
  content: '\e803'; }

/* '' */
.icon-download-folder:before {
  content: '\e804'; }

/* '' */
.icon-alert:before {
  content: '\e805'; }

/* '' */
.icon-burger:before {
  content: '\e806'; }

/* '' */
.icon-envelope:before {
  content: '\e807'; }

/* '' */
.icon-close:before {
  content: '\e808'; }

/* '' */
.icon-file:before {
  content: '\e809'; }

/* '' */
.icon-globe:before {
  content: '\e80a'; }

/* '' */
.icon-information:before {
  content: '\e80b'; }

/* '' */
.icon-marker:before {
  content: '\e80c'; }

/* '' */
.icon-question-mark:before {
  content: '\e80d'; }

/* '' */
.icon-plus:before {
  content: '\e80e'; }

/* '' */
.icon-profile:before {
  content: '\e80f'; }

/* '' */
.icon-refresh:before {
  content: '\e810'; }

/* '' */
.icon-search:before {
  content: '\e811'; }

/* '' */
.icon-share:before {
  content: '\e812'; }

/* '' */
.icon-sort:before {
  content: '\e813'; }

/* '' */
.icon-tick-asterisk:before {
  content: '\e814'; }

/* '' */
.icon-tick:before {
  content: '\e815'; }

/* '' */
.icon-penguin:before {
  content: '\e816'; }

/* '' */
.icon-bear:before {
  content: '\e817'; }

/* '' */
.icon-bird:before {
  content: '\e818'; }

/* '' */
.icon-butterfly:before {
  content: '\e819'; }

/* '' */
.icon-dolphin:before {
  content: '\e81a'; }

/* '' */
.icon-loading:before {
  content: '\e81b'; }

/* '' */
.icon-chevron-left:before {
  content: '\e81c'; }

/* '' */
.icon-chevron-right:before {
  content: '\e81d'; }

/* '' */
.icon-chevron-up:before {
  content: '\e81e'; }

/* '' */
.icon-chevron-down:before {
  content: '\e81f'; }

/* '' */
.icon-minus:before {
  content: '\e820'; }

/* '' */
.icon-spinner-of-dots:before {
  content: '\e821'; }

/* '' */
.breakpoint-small-up {
  display: none; }
  @media screen and (min-width: 45.0625rem) {
    .breakpoint-small-up {
      display: block; } }

.breakpoint-medium-up {
  display: none; }
  @media screen and (min-width: 60.0625rem) {
    .breakpoint-medium-up {
      display: block; } }

.breakpoint-small-down {
  display: block; }
  @media screen and (min-width: 45.0625rem) {
    .breakpoint-small-down {
      display: none; } }

.breakpoint-medium-down {
  display: block; }
  @media screen and (min-width: 60.0625rem) {
    .breakpoint-medium-down {
      display: none; } }

.flex, .flex-center, .icon--info, .icon--info-grey, .icon--redlist, .icon--redlist-medium, .icon--redlist-small, .icon--tooltip, .icon--tooltip--red {
  display: flex; }

.flex-inline, .icon--tooltip, .icon--tooltip--red {
  display: inline-flex; }

.flex-row {
  flex-direction: row; }

.flex-row-reverse {
  flex-direction: row-reverse; }

.flex-column {
  flex-direction: column; }

.flex-column-reverse {
  flex-direction: column-reverse; }

.flex-nowrap {
  flex-wrap: nowrap; }

.flex-wrap {
  flex-wrap: wrap; }

.flex-wrap-reverse {
  flex-wrap: wrap-reverse; }

.flex-1 {
  flex: 1; }

.flex-grow {
  flex-grow: 1; }

.flex-no-grow {
  flex-grow: 0; }

.flex-shrink {
  flex-shirnk: 1; }

.flex-no-shrink {
  flex-shrink: 0; }

.flex-h-start {
  justify-content: flex-start; }

.flex-h-center, .flex-center, .icon--info, .icon--info-grey, .icon--redlist, .icon--redlist-medium, .icon--redlist-small, .icon--tooltip, .icon--tooltip--red {
  justify-content: center; }

.flex-h-between {
  justify-content: space-between; }

.flex-h-around {
  justify-content: space-around; }

.flex-h-end {
  justify-content: flex-end;
  margin-left: auto; }

.flex-hs-start {
  justify-self: flex-start; }

.flex-hs-center {
  justify-self: center; }

.flex-hs-between {
  justify-self: space-between; }

.flex-hs-around {
  justify-self: space-around; }

.flex-hs-end {
  justify-self: flex-end;
  margin-left: auto; }

.flex-v-start {
  align-items: flex-start; }

.flex-v-end {
  align-items: flex-end; }

.flex-v-center, .flex-center, .icon--info, .icon--info-grey, .icon--redlist, .icon--redlist-medium, .icon--redlist-small, .icon--tooltip, .icon--tooltip--red {
  align-items: center; }

.flex-v-baseline {
  align-items: baseline; }

.flex-v-stretch {
  align-items: stretch; }

.flex-vs-start {
  align-self: flex-start; }

.flex-vs-center {
  align-self: center; }

.flex-vs-baseline {
  align-self: baseline; }

.flex-vs-stretch {
  align-self: stretch; }

.flex-vs-end {
  align-self: flex-end;
  margin-top: auto; }

.flex-vm-start {
  align-content: flex-start; }

.flex-vm-end {
  align-content: flex-end; }

.flex-vm-center {
  align-content: center; }

.flex-vm-between {
  align-content: space-between; }

.flex-vm-around {
  align-content: space-around; }

.flex-vm-stretch {
  align-content: stretch; }

.flex-1-half {
  flex: 0 1 50%; }

.flex-1-third {
  flex: 0 1 33%; }

.flex-2-thirds {
  flex: 0 1 66%; }

.flex-1-quarter {
  flex: 0 1 25%; }

.flex-2-quarters {
  flex: 0 1 50%; }

.flex-3-quarters {
  flex: 0 1 75%; }

.flex-1-fith {
  flex: 0 1 20%; }

.flex-2-fiths {
  flex: 0 1 40%; }

.flex-3-fiths {
  flex: 0 1 60%; }

.flex-4-fiths {
  flex: 0 1 80%; }

.flex-1-sixth {
  flex: 0 1 16%; }

.flex-2-sixths {
  flex: 0 1 33%; }

.flex-3-sixths {
  flex: 0 1 50%; }

.flex-4-sixths {
  flex: 0 1 66%; }

.flex-5-sixths {
  flex: 0 1 83%; }

.flex-1-third-gutters {
  flex: 0 1 30%; }

.flex-2-thirds-gutters {
  flex: 0 1 63%; }

@media screen and (max-width: 720px) {
  .flex-s-whole {
    flex: 0 1 100%; } }

.flex-column-end {
  justify-self: flex-end;
  margin-top: auto; }

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased; }

body {
  font-family: "Roboto", sans-serif;
  margin: 0; }

h1 {
  font-size: 1.125rem;
  font-weight: 500;
  margin-bottom: 0.125rem;
  text-transform: uppercase; }
  h1 + p {
    margin-top: 0; }
  h1.heading--marketing {
    font-size: 2.375rem;
    font-weight: 300;
    text-transform: none; }
    @media screen and (min-width: 45.0625rem) {
      h1.heading--marketing {
        font-size: 3.75rem; } }
  h1.heading--simple {
    font-size: 1.5625rem;
    font-weight: 300;
    margin-bottom: 1.5625rem;
    text-transform: capitalize; }
    @media screen and (min-width: 45.0625rem) {
      h1.heading--simple {
        font-size: 1.875rem; } }
    h1.heading--simple--no-margin {
      font-size: 1.5625rem;
      font-weight: 300;
      text-transform: capitalize; }
      @media screen and (min-width: 45.0625rem) {
        h1.heading--simple--no-margin {
          font-size: 1.875rem; } }
  h1.heading--inline {
    display: inline;
    padding-right: 0.625rem; }

h2 {
  font-size: 1.125rem;
  font-weight: normal; }
  @media screen and (min-width: 45.0625rem) {
    h2 {
      font-size: 1.25rem; } }
  h2.heading--marketing {
    font-size: 1.625rem;
    font-weight: 300; }
    @media screen and (min-width: 45.0625rem) {
      h2.heading--marketing {
        font-size: 1.875rem; } }
    @media screen and (min-width: 60.0625rem) {
      h2.heading--marketing {
        font-size: 2rem; } }
  h2.heading--simple {
    font-size: 1.5625rem;
    font-weight: 300;
    margin-bottom: 0;
    text-transform: capitalize; }
    @media screen and (min-width: 45.0625rem) {
      h2.heading--simple {
        font-size: 1.875rem; } }
  h2.heading--underlined {
    font-weight: bold;
    margin: 1.875rem 0;
    width: 100%; }
    h2.heading--underlined:after {
      border-bottom: solid 1px #000000;
      content: '';
      width: 100%;
      display: block;
      position: relative;
      bottom: -0.625rem; }

h3 {
  font-weight: 500; }
  h3.heading--marketing {
    font-size: 1.375rem;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 0.75rem; }
    @media screen and (min-width: 45.0625rem) {
      h3.heading--marketing {
        font-size: 1.75rem;
        margin-bottom: 1rem; } }
    @media screen and (min-width: 60.0625rem) {
      h3.heading--marketing {
        font-size: 1.875rem;
        margin-bottom: 1.125rem; } }

h4 {
  font-weight: 500; }

p {
  line-height: 1.4;
  margin-top: 0;
  margin-bottom: 0.875rem; }

a:hover {
  text-decoration: none; }
a.a--plain {
  color: inherit;
  text-decoration: none; }
  a.a--plain:hover {
    text-decoration: underline; }
a.a--match-colour {
  color: inherit; }

ul {
  line-height: 1.5;
  margin: 0.5rem 0 0.625rem 0;
  padding-left: 1rem; }

li {
  margin-bottom: 0.375rem; }

blockquote {
  font-size: 1.375rem;
  font-weight: 300;
  line-height: 1.3;
  margin: 0 0 1.25rem 0; }
  @media screen and (min-width: 45.0625rem) {
    blockquote {
      font-size: 1.625rem; } }
  @media screen and (min-width: 60.0625rem) {
    blockquote {
      font-size: 1.875rem; } }

.container, .container--small, .container--medium {
  margin: 0 auto;
  padding-right: 0.9375rem;
  padding-left: 0.9375rem;
  width: 100%; }
  @media screen and (min-width: 60.0625rem) {
    .container, .container--small, .container--medium {
      padding-right: 1.5rem;
      padding-left: 1.5rem; } }
  @media screen and (min-width: 73.5625rem) {
    .container, .container--small, .container--medium {
      padding-right: 1.5rem;
      padding-left: 1.5rem; } }

@media screen and (min-width: 73.5625rem) {
  .site-width, .container {
    width: 73.5rem; } }

.gutter--left, .gutters, .card--team-wrapper {
  padding-left: 0.9375rem; }
  @media screen and (min-width: 60.0625rem) {
    .gutter--left, .gutters, .card--team-wrapper {
      padding-left: 1.5rem; } }
  @media screen and (min-width: 73.5625rem) {
    .gutter--left, .gutters, .card--team-wrapper {
      padding-left: 1.5rem; } }

.gutter--right, .gutters, .card--team-wrapper {
  padding-right: 0.9375rem; }
  @media screen and (min-width: 60.0625rem) {
    .gutter--right, .gutters, .card--team-wrapper {
      padding-right: 1.5rem; } }
  @media screen and (min-width: 73.5625rem) {
    .gutter--right, .gutters, .card--team-wrapper {
      padding-right: 1.5rem; } }

.container--small {
  max-width: 37.5rem; }
  @media screen and (min-width: 60.0625rem) {
    .container--small {
      width: 37.5rem; } }
@media screen and (min-width: 45.0625rem) {
  .container--medium {
    width: 43.75rem; } }
@media screen and (min-width: 60.0625rem) {
  .container--medium {
    width: 50rem; } }

.page-padding--top, .page-padding {
  padding-top: 0.875rem; }
  @media screen and (min-width: 60.0625rem) {
    .page-padding--top, .page-padding {
      padding-top: 1.625rem; } }
  @media screen and (min-width: 73.5625rem) {
    .page-padding--top, .page-padding {
      padding-top: 1.875rem; } }

.page-padding--bottom, .page-padding {
  padding-bottom: 2rem; }
  @media screen and (min-width: 60.0625rem) {
    .page-padding--bottom, .page-padding {
      padding-bottom: 3.75rem; } }
  @media screen and (min-width: 73.5625rem) {
    .page-padding--bottom, .page-padding {
      padding-bottom: 6.25rem; } }

.section-padding--top, .section-padding {
  padding-top: 1.25rem; }
  @media screen and (min-width: 60.0625rem) {
    .section-padding--top, .section-padding {
      padding-top: 3.125rem; } }
  @media screen and (min-width: 73.5625rem) {
    .section-padding--top, .section-padding {
      padding-top: 3.125rem; } }

.section-padding--bottom, .section-padding {
  padding-bottom: 1.875rem; }
  @media screen and (min-width: 60.0625rem) {
    .section-padding--bottom, .section-padding {
      padding-bottom: 3.75rem; } }
  @media screen and (min-width: 73.5625rem) {
    .section-padding--bottom, .section-padding {
      padding-bottom: 3.75rem; } }

[v-cloak] {
  display: none; }

strong, .bolder {
  font-weight: 1000; }

.bold {
  font-weight: 500; }

.light {
  font-weight: 300; }

.normal {
  font-weight: normal; }

.italic {
  font-style: italic; }

.text-10 {
  font-size: 0.625rem; }

.text-12 {
  font-size: 0.75rem; }

.text-13 {
  font-size: 0.8125rem; }

.text-14 {
  font-size: 0.875rem; }

.text-16 {
  font-size: 1rem; }

.text-24 {
  font-size: 1.25rem; }
  @media screen and (min-width: 60.0625rem) {
    .text-24 {
      font-size: 1.5rem; } }

.text-30 {
  font-size: 1.5rem; }
  @media screen and (min-width: 60.0625rem) {
    .text-30 {
      font-size: 1.875rem; } }

.text-large {
  position: static;
  font-size: 1.125rem; }
  @media screen and (min-width: 60.0625rem) {
    .text-large {
      font-size: 1.375rem; } }

.column-title {
  max-width: 6.5625rem; }

.text-grey {
  color: #424242; }

.text-red {
  color: #f43f3f; }

.text-iucn {
  color: #D82007; }

.text-white {
  color: #ffffff; }

.text-marketing-red {
  color: #dd6280; }

.text-marketing-date {
  font-size: 1.875rem; }

.text-anchor {
  color: #000000;
  text-decoration: none; }

.fallback-message {
  font-size: 1.125rem;
  font-weight: 300;
  margin: 0.875rem 0;
  text-align: center; }
  @media screen and (min-width: 45.0625rem) {
    .fallback-message {
      font-size: 1.5rem;
      margin: 3.75rem 0; } }

.no-transform {
  text-transform: none; }

.w-100 {
  width: 100%; }

.w-80 {
  width: 80%; }

.centered {
  max-width: 90%;
  margin: 0 auto;
  padding-top: 0;
  text-align: center; }
  @media screen and (min-width: 45.0625rem) {
    .centered {
      padding-top: 6.25rem;
      max-width: 30%; } }

.ul-unstyled {
  list-style-type: none;
  margin: 0;
  padding: 0; }

.ul-inline li {
  display: inline-block; }

.display-none {
  display: none; }

.display-block {
  display: block; }

.inline-block {
  display: inline-block; }

.full-height {
  height: 100%; }

.full-width {
  width: 100%; }

.full-height-topbar {
  height: calc(100vh - 2.9375rem); }
  @media screen and (min-width: 45.0625rem) {
    .full-height-topbar {
      height: calc(100vh - 3.75rem); } }
  @media screen and (min-width: 60.0625rem) {
    .full-height-topbar {
      height: calc(100vh - 5.8125rem); } }

.center {
  text-align: center; }

.right {
  text-align: right; }

.left {
  text-align: left; }

.relative {
  position: relative; }

.bottom-2 {
  bottom: 0.125rem; }

.bottom-right {
  position: absolute;
  bottom: 0;
  right: 0; }

.fixed--bottom {
  position: fixed;
  bottom: 0; }

.margin-auto {
  margin: auto; }

.z-0 {
  z-index: 0; }

.z-1 {
  z-index: 1; }

.no-margin--top {
  margin-top: 0; }

.no-margin--bottom {
  margin-bottom: 0; }

.no-margin {
  margin: 0; }

.margin-center {
  margin: 0 auto; }

.margin-space-top {
  margin-top: 0.875rem; }

.margin-space-right {
  margin-right: 0.875rem; }

.margin-space-bottom {
  margin-bottom: 0.875rem; }

.margin-space-left {
  margin-left: 0.875rem; }

.margin-space-top-small {
  margin-top: 0.4375rem; }

.padding-space-left {
  padding-left: 0.875rem; }

.padding-space-right {
  padding-right: 0.875rem; }

.bg-red-light {
  background-color: #f2dede; }

.bg-grey-xlight {
  background-color: #EBEBEB; }

.bg-grey-light {
  background-color: #C0C0C0; }

.bg-grey {
  background-color: #424242; }

.bg-grey-dark {
  background-color: #373636; }

.bg-grey-xdark {
  background-color: #242424; }

.bg-marketing-red {
  background-color: #dd6280; }

.bg-marketing-red-light {
  background-color: #f8e0e6; }

.bg-image-overlay {
  position: relative;
  z-index: 0; }
  .bg-image-overlay:before {
    background-color: rgba(0, 0, 0, 0.3);
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1; }

.note {
  background-color: #424242;
  color: #ffffff;
  margin: 0.5rem 0;
  padding: 0.25rem 0.625rem; }

.box {
  background-color: #EBEBEB;
  border: solid 1px #C0C0C0; }
  .box-grey {
    background-color: #D8D8D8;
    border: 0.0625rem solid;
    border-color: #C0C0C0; }
  .box-padding {
    padding: 0.75rem 0.875rem; }
    @media screen and (min-width: 60.0625rem) {
      .box-padding {
        padding: 1.375rem 2.125rem; } }
  .box-margin-top {
    margin-top: 1.375rem; }
  .box-margin-bottom {
    margin-bottom: 1.875rem; }

@keyframes rotate {
  0% {
    transform: rotate(1deg); }
  100% {
    transform: rotate(360deg); } }
.icon-bear:before {
  transform: translateX(-11%); }
.icon-bird:before {
  transform: translateX(-12%); }
.icon-dolphin:before {
  transform: translateX(-32%); }
.icon-alert:before {
  color: #f43f3f;
  background-color: #ffffff;
  font-size: 1.5rem; }
.icon-refresh:before {
  color: #424242;
  font-size: 1.5rem; }
.icon-spinner-of-dots:before {
  animation: rotate 5s linear infinite; }
.icon-download:before {
  background-image: image-url("icons/download.svg");
  background-size: contain;
  content: '';
  width: 2.375rem;
  height: 2.5rem; }
.icon-download-lock:before {
  background-image: image-url("icons/download-lock.svg");
  background-size: contain;
  content: '';
  width: 2.375rem;
  height: 2.5rem; }
.icon--help-link {
  background-color: #ffffff;
  border-radius: 100%;
  color: #424242;
  font-size: 0.9375rem;
  margin: 0 0.25rem;
  text-align: center;
  width: 1.375rem;
  height: 1.375rem; }
.icon--info {
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 100%;
  color: #424242;
  font-size: 0.9375rem;
  width: 1.4375rem;
  height: 1.4375rem; }
  .icon--info:hover {
    background-color: rgba(255, 255, 255, 0.8); }
  .icon--info-grey {
    background-color: rgba(66, 66, 66, 0.6);
    border-radius: 100%;
    color: #ffffff;
    font-size: 0.9375rem;
    width: 1.4375rem;
    height: 1.4375rem; }
    .icon--info-grey:hover {
      background-color: rgba(66, 66, 66, 0.8); }
.icon--redlist, .icon--redlist-medium, .icon--redlist-small {
  background-color: #D82007;
  border-radius: 100px;
  border-top-right-radius: 0;
  color: white;
  font-size: 1.5625rem;
  font-style: normal;
  font-weight: 500;
  width: 3.375rem;
  height: 3.375rem; }
  .icon--redlist-grey {
    background-color: #424242; }
  .icon--redlist-medium {
    font-size: 0.875rem;
    width: 2.125rem;
    height: 2.125rem; }
    @media screen and (min-width: 45.0625rem) {
      .icon--redlist-medium {
        font-size: 1.125rem;
        width: 2.875rem;
        height: 2.875rem; } }
  .icon--redlist-small {
    font-size: 0.6875rem;
    width: 1.25rem;
    height: 1.25rem; }
.icon--tooltip {
  background-color: #C0C0C0;
  border-radius: 100%;
  color: white;
  cursor: pointer;
  font-size: 0.875rem;
  width: 1.375rem;
  height: 1.375rem; }
  .icon--tooltip--red {
    background-color: #f43f3f;
    border-radius: 100%;
    color: white;
    cursor: pointer;
    font-size: 0.875rem;
    width: 1.375rem;
    height: 1.375rem; }
.icon--small {
  font-size: 0.75rem;
  margin-top: 0.1875rem; }
.icon--payment-spinner {
  font-size: 3.125rem; }
.icon--error {
  font-size: 6.25rem;
  position: relative;
  bottom: -1.5625rem;
  left: -6.5625rem; }
.icon--social {
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  display: block; }
  .icon--social:hover {
    opacity: .75; }
  .icon--social-linkedin {
    background-image: image-url("logos/linkedin.svg");
    width: 5rem;
    height: 1.75rem; }

.card-wrapper--facts {
  flex-direction: column; }
  @media screen and (min-width: 45.0625rem) {
    .card-wrapper--facts {
      flex-direction: row; } }

.card--basic .card__image {
  background-position: center;
  background-size: cover;
  height: 15.625rem; }
  @media screen and (min-width: 45.0625rem) {
    .card--basic .card__image {
      height: auto; } }
.card--basic .card__content {
  padding: 1.25rem 0.9375rem; }
  @media screen and (min-width: 45.0625rem) {
    .card--basic .card__content {
      padding: 1.875rem; } }
  @media screen and (min-width: 60.0625rem) {
    .card--basic .card__content {
      padding: 2.5rem; } }
.card--benefit {
  margin-bottom: 2.5rem;
  padding: 0 15%; }
  @media screen and (min-width: 45.0625rem) {
    .card--benefit {
      flex-basis: 33.3%;
      margin-bottom: 5rem;
      padding: 0 5%; } }
  .card--benefit h3 {
    margin-top: 0; }
  .card--benefit .card__content {
    font-size: 0.875rem; }
  .card--benefit .card__icon {
    font-size: 5rem; }
  .card--benefit .card__title {
    font-size: 1.25rem; }
.card--our-data .card__image {
  margin: 1.25rem auto 0.875rem auto; }
  @media screen and (min-width: 45.0625rem) {
    .card--our-data .card__image {
      margin: 1.875rem auto 1.25rem auto; } }
.card--dataset {
  background-color: #ffffff;
  font-size: 0.875rem;
  font-weight: 300;
  padding: 1.25rem 1.625rem 1.75rem 1.625rem;
  width: 32%; }
  .card--dataset .card__content {
    color: #424242;
    margin-bottom: 6.25rem; }
  .card--dataset .card__button {
    display: flex; }
.card--dataset-stats h2 {
  margin-top: 0.5rem; }
  .card--dataset-stats h2 a {
    color: inherit; }
@media screen and (min-width: 45.0625rem) {
  .card--dataset-stats .card__column-left {
    padding-right: 1.875rem; } }
@media screen and (min-width: 60.0625rem) {
  .card--dataset-stats .card__column-left {
    padding-right: 3.125rem; } }
.card--dataset-stats .card__logo {
  width: auto;
  height: 2.5rem; }
.card--dataset-stats .card__buffer {
  font-size: 1.125rem; }
.card--dataset-stats .card__total-wrapper {
  background-color: white;
  border: solid 1px #424242;
  margin-top: 1.375rem;
  width: 94%;
  height: 6.875rem; }
  @media screen and (min-width: 60.0625rem) {
    .card--dataset-stats .card__total-wrapper {
      font-size: 6.25rem;
      width: 21.875rem;
      height: 14.375rem; } }
.card--dataset-stats .card__total {
  font-size: 3.75rem;
  font-weight: bold;
  line-height: 1; }
  @media screen and (min-width: 60.0625rem) {
    .card--dataset-stats .card__total {
      font-size: 6.25rem; } }
.card--dataset-stats .card__subtotal {
  font-weight: bold;
  line-height: 1; }
.card--dataset-stats .card__type {
  font-size: 0.875rem; }
  @media screen and (min-width: 60.0625rem) {
    .card--dataset-stats .card__type {
      font-size: 1.25rem; } }
.card--dataset-stats .card__subtype {
  font-size: 0.625rem; }
  @media screen and (min-width: 60.0625rem) {
    .card--dataset-stats .card__subtype {
      font-size: 1rem; } }
.card--dataset-stats .card__smallprint {
  font-size: 0.875rem;
  margin-top: 1.125rem; }
  .card--dataset-stats .card__smallprint-line {
    display: block; }
.card--dataset-stats .card__list {
  font-size: 1rem;
  width: 100%; }
  @media screen and (min-width: 45.0625rem) {
    .card--dataset-stats .card__list {
      font-size: 1.125rem; } }
.card--dataset-stats .card__list-li {
  border-bottom: solid 1px #424242;
  margin: 0; }
  @media screen and (max-width: 720px) {
    .card--dataset-stats .card__list-li:last-child {
      border-bottom: none; } }
.card--dataset-stats .card__list-p {
  height: 3.125rem; }
  @media screen and (min-width: 45.0625rem) {
    .card--dataset-stats .card__list-p {
      height: 3.625rem; } }
.card--dataset-stats .card__list-total {
  margin-right: 0.625rem;
  width: 2.625rem; }
  @media screen and (min-width: 45.0625rem) {
    .card--dataset-stats .card__list-total {
      margin-right: 0.875rem; } }
.card--dataset-stats .card__list-icon {
  margin-right: 0.875rem;
  display: inline-flex; }
  @media screen and (min-width: 60.0625rem) {
    .card--dataset-stats .card__list-icon {
      margin-right: 1.5rem; } }
.card--dataset-stats .card__list-icon-grey {
  background-color: #424242; }
.card--fact {
  overflow: hidden;
  padding-bottom: 1.125rem;
  width: 100%; }
  @media screen and (min-width: 45.0625rem) {
    .card--fact {
      padding: 0; } }
  .card--fact .card__content {
    margin: 0 auto;
    padding: 0 1.4375rem;
    width: 12.5rem;
    height: 12.5rem;
    position: relative; }
    .card--fact .card__content:after {
      border-radius: 100%;
      box-shadow: 0px 0px 0px 300px #424242;
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0; }
  .card--fact .card__icon {
    font-size: 5rem;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%); }
  .card--fact .card__total {
    font-size: 2.25rem;
    margin-top: 54%; }
  .card--fact .card__text {
    font-size: 1.125rem; }
.card--portfolio {
  padding: 1.25rem 0 3.125rem 0; }
  .card--portfolio .card__content-wrapper {
    flex: 100%; }
    @media screen and (min-width: 45.0625rem) {
      .card--portfolio .card__content-wrapper {
        flex: 0 1 50%; } }
    @media screen and (min-width: 45.0625rem) {
      .card--portfolio .card__content-wrapper--left {
        order: -1; } }
  .card--portfolio .card__content {
    padding: 0.875rem 0 1.25rem 0; }
    @media screen and (min-width: 45.0625rem) {
      .card--portfolio .card__content {
        padding: 1.875rem 2.5rem; } }
    @media screen and (min-width: 60.0625rem) {
      .card--portfolio .card__content {
        padding: 3.125rem 5rem; } }
  .card--portfolio .card__image-wrapper {
    flex: 100%;
    text-align: center; }
    @media screen and (min-width: 45.0625rem) {
      .card--portfolio .card__image-wrapper {
        flex: 0 1 50%; } }
  .card--portfolio .card__image {
    width: 80%; }
    @media screen and (min-width: 45.0625rem) {
      .card--portfolio .card__image {
        width: 100%; } }
.card--team {
  flex: 0 1 100%;
  padding: 0.625rem 0; }
  @media screen and (min-width: 45.0625rem) {
    .card--team {
      flex: 0 1 33.3%;
      padding: 0.625rem; } }
  @media screen and (min-width: 60.0625rem) {
    .card--team {
      flex: 0 1 25%; } }
  @media screen and (min-width: 73.5625rem) {
    .card--team-wrapper {
      padding-left: 0;
      padding-right: 0; } }
  .card--team .card__image {
    background-color: #C0C0C0;
    background-size: cover;
    background-position: center;
    width: auto;
    height: 17rem; }
  .card--team .card__content {
    background-color: #424242;
    border-top: solid 0.625rem;
    color: #ffffff;
    padding: 1.125rem 1.5rem;
    width: auto;
    height: 8.75rem; }
    .card--team .card__content--red {
      border-color: #dd6280; }
  .card--team .card__name {
    margin-bottom: 0.25rem; }
.card--testimonial {
  padding: 1.875rem; }
  .card--testimonial .card__quote {
    font-size: 1rem; }
  .card--testimonial .card__logo {
    width: 3.125rem;
    height: 3.125rem; }
.card--tutorial {
  position: relative;
  background-color: #424242;
  margin-top: 0.875rem;
  margin-bottom: 0.875rem;
  min-width: 9.375rem;
  font-size: 1.125rem;
  text-align: left;
  cursor: pointer; }
  .card--tutorial a {
    color: #C0C0C0;
    text-decoration: none; }

@media screen and (min-width: 45.0625rem) {
  .table--payg .table__column-left {
    padding-right: 0.625rem; } }
@media screen and (min-width: 45.0625rem) {
  .table--payg .table__column-right {
    padding-left: 0.625rem; } }
.table--payg .table__row {
  background-color: #ffffff;
  font-weight: 300;
  margin-bottom: 0.625rem;
  padding: 0.375rem 0.625rem; }

.ul-no-margin {
  margin: 0; }
.ul-margin {
  margin: 1.25rem 0; }
.ul--dashboard {
  flex-direction: column;
  padding: 1.875rem 0;
  width: 100%; }
  @media screen and (min-width: 45.0625rem) {
    .ul--dashboard {
      flex-direction: row;
      padding: 3.75rem 0; } }
  .ul--dashboard .ul__li-3 {
    display: none; }
    @media screen and (min-width: 60.0625rem) {
      .ul--dashboard .ul__li-3 {
        display: inline-flex; } }
  .ul--dashboard .ul__a {
    background-color: #424242;
    border-radius: 100%;
    color: #ffffff;
    font-size: 1.125rem;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    width: 60vw;
    height: 60vw;
    display: flex; }
    @media screen and (min-width: 45.0625rem) {
      .ul--dashboard .ul__a {
        font-size: 1.9vw;
        width: 30vw;
        height: 30vw; } }
    @media screen and (min-width: 60.0625rem) {
      .ul--dashboard .ul__a {
        font-size: 1.7vw;
        width: 22vw;
        height: 22vw; } }
    @media screen and (min-width: 73.5625rem) {
      .ul--dashboard .ul__a {
        font-size: 1.25rem;
        width: 16.25rem;
        height: 16.25rem; } }
  .ul--dashboard .ul__icon {
    font-size: 13vw; }
    @media screen and (min-width: 45.0625rem) {
      .ul--dashboard .ul__icon {
        font-size: 6vw; } }
    @media screen and (min-width: 60.0625rem) {
      .ul--dashboard .ul__icon {
        font-size: 5vw; } }
    @media screen and (min-width: 73.5625rem) {
      .ul--dashboard .ul__icon {
        font-size: 3.75rem; } }
  .ul--dashboard .ul__span {
    line-height: 1.2; }
.ul--table {
  margin: 2.125rem 0 1.875rem 0; }
  .ul--table .site-item:hover {
    cursor: pointer; }
  .ul--table .ul__li {
    background-color: white;
    border: solid white 0.0625rem;
    font-size: 1.5625rem;
    font-weight: 500;
    margin-bottom: 0.625rem;
    width: auto;
    height: 3.125rem; }
    @media screen and (min-width: 45.0625rem) {
      .ul--table .ul__li {
        height: 5.125rem; } }
    .ul--table .ul__li:hover {
      border: solid #C0C0C0 0.0625rem;
      box-shadow: #C0C0C0 0 2px 2px 0; }
    .ul--table .ul__li--header {
      font-size: 1.25rem;
      line-height: 1.2;
      display: none; }
      @media screen and (min-width: 60.0625rem) {
        .ul--table .ul__li--header {
          display: flex; } }
    .ul--table .ul__li-column {
      padding: 0.5rem 0.75rem 0.5rem 0.25rem;
      margin-bottom: 0;
      display: inline-flex; }
      @media screen and (min-width: 45.0625rem) {
        .ul--table .ul__li-column:first-child {
          padding: 0.5rem 0.625rem 0.5rem 0.75rem; } }
      .ul--table .ul__li-column-small {
        font-size: 1rem; }
        @media screen and (min-width: 45.0625rem) {
          .ul--table .ul__li-column-small {
            font-size: 1.125rem; } }
  .ul--table .ul__a, .ul--table .ul__button {
    color: inherit;
    margin: 0 0.125rem;
    text-decoration: none;
    height: 100%; }
  .ul--table .ul__icon {
    font-size: 1.5rem; }
    .ul--table .ul__icon-up-to-date {
      color: green; }
    .ul--table .ul__icon-update-in-progress {
      color: orange; }
    .ul--table .ul__icon-requires-update {
      color: red; }
@media screen and (min-width: 60.0625rem) {
  .ul--sites .ul__li-column-1 {
    width: 5%; } }
.ul--sites .ul__li-column-2 {
  width: 3.25rem; }
  @media screen and (min-width: 60.0625rem) {
    .ul--sites .ul__li-column-2 {
      width: 5%; } }
@media screen and (min-width: 60.0625rem) {
  .ul--sites .ul__li-column-3 {
    width: 20%; } }
@media screen and (min-width: 60.0625rem) {
  .ul--sites .ul__li-column-4 {
    width: 15%; } }
@media screen and (min-width: 60.0625rem) {
  .ul--sites .ul__li-column-5 {
    width: 13%; } }
@media screen and (min-width: 60.0625rem) {
  .ul--sites .ul__li-column-6 {
    width: 15%; } }
@media screen and (min-width: 60.0625rem) {
  .ul--sites .ul__li-column-7 {
    width: 15%; } }
@media screen and (min-width: 60.0625rem) {
  .ul--sites .ul__li-column-8 {
    width: 3%; } }
@media screen and (min-width: 60.0625rem) {
  .ul--sites .ul__li-column-9 {
    width: 3%; } }
@media screen and (min-width: 60.0625rem) {
  .ul--sites .ul__li-column-10 {
    width: 4%; } }
.ul--sites .ul__li-column-4, .ul--sites .ul__li-column-5, .ul--sites .ul__li-column-6, .ul--sites .ul__li-column-7, .ul--sites .ul__li-column-8, .ul--sites .ul__li-column-9 {
  display: none; }
  @media screen and (min-width: 60.0625rem) {
    .ul--sites .ul__li-column-4, .ul--sites .ul__li-column-5, .ul--sites .ul__li-column-6, .ul--sites .ul__li-column-7, .ul--sites .ul__li-column-8, .ul--sites .ul__li-column-9 {
      display: inline-flex; } }
@media screen and (min-width: 60.0625rem) {
  .ul--reports .ul__li-column-1 {
    width: 4%; } }
@media screen and (min-width: 60.0625rem) {
  .ul--reports .ul__li-column-2 {
    width: 5%; } }
@media screen and (min-width: 60.0625rem) {
  .ul--reports .ul__li-column-3 {
    width: 24%; } }
@media screen and (min-width: 60.0625rem) {
  .ul--reports .ul__li-column-4 {
    width: 20%; } }
@media screen and (min-width: 60.0625rem) {
  .ul--reports .ul__li-column-5 {
    width: 15%; } }
@media screen and (min-width: 60.0625rem) {
  .ul--reports .ul__li-column-6 {
    width: 14%; } }
@media screen and (min-width: 60.0625rem) {
  .ul--reports .ul__li-column-7 {
    width: 8%; } }
.ul--reports .ul__li-column-4, .ul--reports .ul__li-column-5, .ul--reports .ul__li-column-6, .ul--reports .ul__li-column-7 {
  display: none; }
  @media screen and (min-width: 60.0625rem) {
    .ul--reports .ul__li-column-4, .ul--reports .ul__li-column-5, .ul--reports .ul__li-column-6, .ul--reports .ul__li-column-7 {
      display: inline-flex; } }
.ul--table-white--header {
  margin: 2.5rem 0 0 0; }
.ul--table-white--body {
  margin-top: 0;
  overflow-y: scroll; }
.ul--table-white .ul__li {
  background-color: white;
  border: solid #C0C0C0 0.0625rem;
  box-shadow: #C0C0C0 0 2px 2px 0;
  font-size: 1.5625rem;
  font-weight: 500;
  margin-bottom: 0.625rem;
  padding-left: 0.875rem;
  width: auto;
  height: 3.125rem; }
  @media screen and (min-width: 45.0625rem) {
    .ul--table-white .ul__li {
      height: 5.125rem; } }
  .ul--table-white .ul__li--header {
    font-size: 1.25rem;
    line-height: 1.2;
    display: none; }
    @media screen and (min-width: 60.0625rem) {
      .ul--table-white .ul__li--header {
        display: flex; } }
  @media screen and (min-width: 60.0625rem) {
    .ul--table-white .ul__li-column-1 {
      width: 54%; } }
  .ul--table-white .ul__li-column-2 {
    display: none; }
    @media screen and (min-width: 60.0625rem) {
      .ul--table-white .ul__li-column-2 {
        width: 40%;
        display: inline-flex; } }
  .ul--table-white .ul__li-column-3 {
    width: 3.5rem; }
.ul--table-white .ul__a {
  text-decoration: none; }
.ul--table-plain {
  width: 100%; }
  @media screen and (min-width: 45.0625rem) {
    .ul--table-plain {
      font-size: 1.125rem; } }
  .ul--table-plain .ul__li {
    border-bottom: solid 1px #C0C0C0;
    font-weight: 300;
    margin: 0;
    height: 2.6875rem; }
    @media screen and (min-width: 45.0625rem) {
      .ul--table-plain .ul__li {
        height: 3.9375rem; } }
    .ul--table-plain .ul__li--header {
      font-weight: 500;
      height: 1.875rem; }
  .ul--table-plain.ul--datasets .ul__li-column-1 {
    width: 90%; }
    @media screen and (min-width: 60.0625rem) {
      .ul--table-plain.ul--datasets .ul__li-column-1 {
        width: 50%; } }
  .ul--table-plain.ul--datasets .ul__li-column-2 {
    width: 42%; }
  .ul--table-plain.ul--datasets .ul__li-column-3 {
    width: 8%; }
  .ul--table-plain.ul--accounts .ul__li-column-1 {
    width: 30%; }
  .ul--table-plain.ul--accounts .ul__li-column-2 {
    width: 60%; }
    @media screen and (min-width: 60.0625rem) {
      .ul--table-plain.ul--accounts .ul__li-column-2 {
        width: 38%; } }
  .ul--table-plain.ul--accounts .ul__li-column-3 {
    width: 10%; }
  .ul--table-plain.ul--accounts .ul__li-column-4 {
    width: 30%; }
    @media screen and (min-width: 60.0625rem) {
      .ul--table-plain.ul--accounts .ul__li-column-4 {
        width: 17%; } }
  .ul--table-plain.ul--accounts .ul__li-column-5 {
    width: 10%; }
    @media screen and (min-width: 60.0625rem) {
      .ul--table-plain.ul--accounts .ul__li-column-5 {
        width: 5%; } }
  .ul--table-plain.ul--subscriptions .ul__li-column-1 {
    width: 90%; }
    @media screen and (min-width: 60.0625rem) {
      .ul--table-plain.ul--subscriptions .ul__li-column-1 {
        width: 25%; } }
  .ul--table-plain.ul--subscriptions .ul__li-column-2 {
    width: 25%; }
  .ul--table-plain.ul--subscriptions .ul__li-column-3 {
    width: 14%; }
  .ul--table-plain.ul--subscriptions .ul__li-column-4 {
    width: 30%; }
  .ul--table-plain.ul--subscriptions .ul__li-column-5 {
    width: 6%; }
  .ul--table-plain.ul--subscription-requests .ul__li-column-1 {
    width: 90%; }
    @media screen and (min-width: 60.0625rem) {
      .ul--table-plain.ul--subscription-requests .ul__li-column-1 {
        width: 25%; } }
  .ul--table-plain.ul--subscription-requests .ul__li-column-2 {
    width: 25%; }
  .ul--table-plain.ul--subscription-requests .ul__li-column-3 {
    width: 12%; }
  .ul--table-plain.ul--subscription-requests .ul__li-column-4 {
    width: 11%; }
  .ul--table-plain.ul--subscription-requests .ul__li-column-5 {
    width: 13%; }
  .ul--table-plain.ul--subscription-requests .ul__li-column-6 {
    width: 8%; }
  .ul--table-plain.ul--subscription-requests .ul__li-column-7 {
    width: 6%; }
  .ul--table-plain.ul--subscription-request .ul__li-column-1 {
    width: 65%; }
    @media screen and (min-width: 45.0625rem) {
      .ul--table-plain.ul--subscription-request .ul__li-column-1 {
        width: 30%; } }
  .ul--table-plain.ul--subscription-request .ul__li-column-2 {
    width: 30%; }
  .ul--table-plain.ul--subscription-request .ul__li-column-3 {
    width: 20%; }
  .ul--table-plain.ul--subscription-request .ul__li-column-4 {
    width: 35%; }
    @media screen and (min-width: 45.0625rem) {
      .ul--table-plain.ul--subscription-request .ul__li-column-4 {
        width: 20%; } }
.ul--table-pricing-first {
  width: 50%; }
  @media screen and (min-width: 45.0625rem) {
    .ul--table-pricing-first {
      width: 13.125rem; } }
  @media screen and (min-width: 60.0625rem) {
    .ul--table-pricing-first {
      width: 30%; } }
.ul--table-pricing .ul__li {
  font-size: 0.875rem;
  line-height: 1.2;
  padding: 0 0.75rem;
  width: auto;
  height: 3.75rem; }
  @media screen and (min-width: 45.0625rem) {
    .ul--table-pricing .ul__li {
      padding: 0 1.625rem; } }
  .ul--table-pricing .ul__li:nth-child(2n+1) {
    background-color: #EBEBEB; }
  .ul--table-pricing .ul__li--heading {
    width: auto;
    height: 2.5rem; }
    @media screen and (min-width: 45.0625rem) {
      .ul--table-pricing .ul__li--heading {
        height: 3.125rem; } }
  .ul--table-pricing .ul__li--feature {
    font-size: 0.875rem; }
    @media screen and (min-width: 45.0625rem) {
      .ul--table-pricing .ul__li--feature {
        font-size: 1rem; } }
  .ul--table-pricing .ul__li--title {
    color: #ffffff;
    font-weight: 500;
    text-transform: uppercase; }
  .ul--table-pricing .ul__li--price {
    font-size: 1.5rem; }

.breakpoint-small-up {
  display: none; }
  @media screen and (min-width: 45.0625rem) {
    .breakpoint-small-up {
      display: block; } }

.breakpoint-medium-up {
  display: none; }
  @media screen and (min-width: 60.0625rem) {
    .breakpoint-medium-up {
      display: block; } }

.breakpoint-small-down {
  display: block; }
  @media screen and (min-width: 45.0625rem) {
    .breakpoint-small-down {
      display: none; } }

.breakpoint-medium-down {
  display: block; }
  @media screen and (min-width: 60.0625rem) {
    .breakpoint-medium-down {
      display: none; } }

.flex, .flex-center, .icon--info, .icon--info-grey, .icon--redlist, .icon--redlist-medium, .icon--redlist-small, .icon--tooltip, .icon--tooltip--red {
  display: flex; }

.flex-inline, .icon--tooltip, .icon--tooltip--red {
  display: inline-flex; }

.flex-row {
  flex-direction: row; }

.flex-row-reverse {
  flex-direction: row-reverse; }

.flex-column {
  flex-direction: column; }

.flex-column-reverse {
  flex-direction: column-reverse; }

.flex-nowrap {
  flex-wrap: nowrap; }

.flex-wrap {
  flex-wrap: wrap; }

.flex-wrap-reverse {
  flex-wrap: wrap-reverse; }

.flex-1 {
  flex: 1; }

.flex-grow {
  flex-grow: 1; }

.flex-no-grow {
  flex-grow: 0; }

.flex-shrink {
  flex-shirnk: 1; }

.flex-no-shrink {
  flex-shrink: 0; }

.flex-h-start {
  justify-content: flex-start; }

.flex-h-center, .flex-center, .icon--info, .icon--info-grey, .icon--redlist, .icon--redlist-medium, .icon--redlist-small, .icon--tooltip, .icon--tooltip--red {
  justify-content: center; }

.flex-h-between {
  justify-content: space-between; }

.flex-h-around {
  justify-content: space-around; }

.flex-h-end {
  justify-content: flex-end;
  margin-left: auto; }

.flex-hs-start {
  justify-self: flex-start; }

.flex-hs-center {
  justify-self: center; }

.flex-hs-between {
  justify-self: space-between; }

.flex-hs-around {
  justify-self: space-around; }

.flex-hs-end {
  justify-self: flex-end;
  margin-left: auto; }

.flex-v-start {
  align-items: flex-start; }

.flex-v-end {
  align-items: flex-end; }

.flex-v-center, .flex-center, .icon--info, .icon--info-grey, .icon--redlist, .icon--redlist-medium, .icon--redlist-small, .icon--tooltip, .icon--tooltip--red {
  align-items: center; }

.flex-v-baseline {
  align-items: baseline; }

.flex-v-stretch {
  align-items: stretch; }

.flex-vs-start {
  align-self: flex-start; }

.flex-vs-center {
  align-self: center; }

.flex-vs-baseline {
  align-self: baseline; }

.flex-vs-stretch {
  align-self: stretch; }

.flex-vs-end {
  align-self: flex-end;
  margin-top: auto; }

.flex-vm-start {
  align-content: flex-start; }

.flex-vm-end {
  align-content: flex-end; }

.flex-vm-center {
  align-content: center; }

.flex-vm-between {
  align-content: space-between; }

.flex-vm-around {
  align-content: space-around; }

.flex-vm-stretch {
  align-content: stretch; }

.flex-1-half {
  flex: 0 1 50%; }

.flex-1-third {
  flex: 0 1 33%; }

.flex-2-thirds {
  flex: 0 1 66%; }

.flex-1-quarter {
  flex: 0 1 25%; }

.flex-2-quarters {
  flex: 0 1 50%; }

.flex-3-quarters {
  flex: 0 1 75%; }

.flex-1-fith {
  flex: 0 1 20%; }

.flex-2-fiths {
  flex: 0 1 40%; }

.flex-3-fiths {
  flex: 0 1 60%; }

.flex-4-fiths {
  flex: 0 1 80%; }

.flex-1-sixth {
  flex: 0 1 16%; }

.flex-2-sixths {
  flex: 0 1 33%; }

.flex-3-sixths {
  flex: 0 1 50%; }

.flex-4-sixths {
  flex: 0 1 66%; }

.flex-5-sixths {
  flex: 0 1 83%; }

.flex-1-third-gutters {
  flex: 0 1 30%; }

.flex-2-thirds-gutters {
  flex: 0 1 63%; }

@media screen and (max-width: 720px) {
  .flex-s-whole {
    flex: 0 1 100%; } }

.flex-column-end {
  justify-self: flex-end;
  margin-top: auto; }

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased; }

body {
  font-family: "Roboto", sans-serif;
  margin: 0; }

h1 {
  font-size: 1.125rem;
  font-weight: 500;
  margin-bottom: 0.125rem;
  text-transform: uppercase; }
  h1 + p {
    margin-top: 0; }
  h1.heading--marketing {
    font-size: 2.375rem;
    font-weight: 300;
    text-transform: none; }
    @media screen and (min-width: 45.0625rem) {
      h1.heading--marketing {
        font-size: 3.75rem; } }
  h1.heading--simple {
    font-size: 1.5625rem;
    font-weight: 300;
    margin-bottom: 1.5625rem;
    text-transform: capitalize; }
    @media screen and (min-width: 45.0625rem) {
      h1.heading--simple {
        font-size: 1.875rem; } }
    h1.heading--simple--no-margin {
      font-size: 1.5625rem;
      font-weight: 300;
      text-transform: capitalize; }
      @media screen and (min-width: 45.0625rem) {
        h1.heading--simple--no-margin {
          font-size: 1.875rem; } }
  h1.heading--inline {
    display: inline;
    padding-right: 0.625rem; }

h2 {
  font-size: 1.125rem;
  font-weight: normal; }
  @media screen and (min-width: 45.0625rem) {
    h2 {
      font-size: 1.25rem; } }
  h2.heading--marketing {
    font-size: 1.625rem;
    font-weight: 300; }
    @media screen and (min-width: 45.0625rem) {
      h2.heading--marketing {
        font-size: 1.875rem; } }
    @media screen and (min-width: 60.0625rem) {
      h2.heading--marketing {
        font-size: 2rem; } }
  h2.heading--simple {
    font-size: 1.5625rem;
    font-weight: 300;
    margin-bottom: 0;
    text-transform: capitalize; }
    @media screen and (min-width: 45.0625rem) {
      h2.heading--simple {
        font-size: 1.875rem; } }
  h2.heading--underlined {
    font-weight: bold;
    margin: 1.875rem 0;
    width: 100%; }
    h2.heading--underlined:after {
      border-bottom: solid 1px #000000;
      content: '';
      width: 100%;
      display: block;
      position: relative;
      bottom: -0.625rem; }

h3 {
  font-weight: 500; }
  h3.heading--marketing {
    font-size: 1.375rem;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 0.75rem; }
    @media screen and (min-width: 45.0625rem) {
      h3.heading--marketing {
        font-size: 1.75rem;
        margin-bottom: 1rem; } }
    @media screen and (min-width: 60.0625rem) {
      h3.heading--marketing {
        font-size: 1.875rem;
        margin-bottom: 1.125rem; } }

h4 {
  font-weight: 500; }

p {
  line-height: 1.4;
  margin-top: 0;
  margin-bottom: 0.875rem; }

a:hover {
  text-decoration: none; }
a.a--plain {
  color: inherit;
  text-decoration: none; }
  a.a--plain:hover {
    text-decoration: underline; }
a.a--match-colour {
  color: inherit; }

ul {
  line-height: 1.5;
  margin: 0.5rem 0 0.625rem 0;
  padding-left: 1rem; }

li {
  margin-bottom: 0.375rem; }

blockquote {
  font-size: 1.375rem;
  font-weight: 300;
  line-height: 1.3;
  margin: 0 0 1.25rem 0; }
  @media screen and (min-width: 45.0625rem) {
    blockquote {
      font-size: 1.625rem; } }
  @media screen and (min-width: 60.0625rem) {
    blockquote {
      font-size: 1.875rem; } }

.container, .container--small, .container--medium {
  margin: 0 auto;
  padding-right: 0.9375rem;
  padding-left: 0.9375rem;
  width: 100%; }
  @media screen and (min-width: 60.0625rem) {
    .container, .container--small, .container--medium {
      padding-right: 1.5rem;
      padding-left: 1.5rem; } }
  @media screen and (min-width: 73.5625rem) {
    .container, .container--small, .container--medium {
      padding-right: 1.5rem;
      padding-left: 1.5rem; } }

@media screen and (min-width: 73.5625rem) {
  .site-width, .container {
    width: 73.5rem; } }

.gutter--left, .gutters, .card--team-wrapper {
  padding-left: 0.9375rem; }
  @media screen and (min-width: 60.0625rem) {
    .gutter--left, .gutters, .card--team-wrapper {
      padding-left: 1.5rem; } }
  @media screen and (min-width: 73.5625rem) {
    .gutter--left, .gutters, .card--team-wrapper {
      padding-left: 1.5rem; } }

.gutter--right, .gutters, .card--team-wrapper {
  padding-right: 0.9375rem; }
  @media screen and (min-width: 60.0625rem) {
    .gutter--right, .gutters, .card--team-wrapper {
      padding-right: 1.5rem; } }
  @media screen and (min-width: 73.5625rem) {
    .gutter--right, .gutters, .card--team-wrapper {
      padding-right: 1.5rem; } }

.container--small {
  max-width: 37.5rem; }
  @media screen and (min-width: 60.0625rem) {
    .container--small {
      width: 37.5rem; } }
@media screen and (min-width: 45.0625rem) {
  .container--medium {
    width: 43.75rem; } }
@media screen and (min-width: 60.0625rem) {
  .container--medium {
    width: 50rem; } }

.page-padding--top, .page-padding {
  padding-top: 0.875rem; }
  @media screen and (min-width: 60.0625rem) {
    .page-padding--top, .page-padding {
      padding-top: 1.625rem; } }
  @media screen and (min-width: 73.5625rem) {
    .page-padding--top, .page-padding {
      padding-top: 1.875rem; } }

.page-padding--bottom, .page-padding {
  padding-bottom: 2rem; }
  @media screen and (min-width: 60.0625rem) {
    .page-padding--bottom, .page-padding {
      padding-bottom: 3.75rem; } }
  @media screen and (min-width: 73.5625rem) {
    .page-padding--bottom, .page-padding {
      padding-bottom: 6.25rem; } }

.section-padding--top, .section-padding {
  padding-top: 1.25rem; }
  @media screen and (min-width: 60.0625rem) {
    .section-padding--top, .section-padding {
      padding-top: 3.125rem; } }
  @media screen and (min-width: 73.5625rem) {
    .section-padding--top, .section-padding {
      padding-top: 3.125rem; } }

.section-padding--bottom, .section-padding {
  padding-bottom: 1.875rem; }
  @media screen and (min-width: 60.0625rem) {
    .section-padding--bottom, .section-padding {
      padding-bottom: 3.75rem; } }
  @media screen and (min-width: 73.5625rem) {
    .section-padding--bottom, .section-padding {
      padding-bottom: 3.75rem; } }

[v-cloak] {
  display: none; }

strong, .bolder {
  font-weight: 1000; }

.bold {
  font-weight: 500; }

.light {
  font-weight: 300; }

.normal {
  font-weight: normal; }

.italic {
  font-style: italic; }

.text-10 {
  font-size: 0.625rem; }

.text-12 {
  font-size: 0.75rem; }

.text-13 {
  font-size: 0.8125rem; }

.text-14 {
  font-size: 0.875rem; }

.text-16 {
  font-size: 1rem; }

.text-24 {
  font-size: 1.25rem; }
  @media screen and (min-width: 60.0625rem) {
    .text-24 {
      font-size: 1.5rem; } }

.text-30 {
  font-size: 1.5rem; }
  @media screen and (min-width: 60.0625rem) {
    .text-30 {
      font-size: 1.875rem; } }

.text-large {
  position: static;
  font-size: 1.125rem; }
  @media screen and (min-width: 60.0625rem) {
    .text-large {
      font-size: 1.375rem; } }

.column-title {
  max-width: 6.5625rem; }

.text-grey {
  color: #424242; }

.text-red {
  color: #f43f3f; }

.text-iucn {
  color: #D82007; }

.text-white {
  color: #ffffff; }

.text-marketing-red {
  color: #dd6280; }

.text-marketing-date {
  font-size: 1.875rem; }

.text-anchor {
  color: #000000;
  text-decoration: none; }

.fallback-message {
  font-size: 1.125rem;
  font-weight: 300;
  margin: 0.875rem 0;
  text-align: center; }
  @media screen and (min-width: 45.0625rem) {
    .fallback-message {
      font-size: 1.5rem;
      margin: 3.75rem 0; } }

.no-transform {
  text-transform: none; }

.w-100 {
  width: 100%; }

.w-80 {
  width: 80%; }

.centered {
  max-width: 90%;
  margin: 0 auto;
  padding-top: 0;
  text-align: center; }
  @media screen and (min-width: 45.0625rem) {
    .centered {
      padding-top: 6.25rem;
      max-width: 30%; } }

.ul-unstyled {
  list-style-type: none;
  margin: 0;
  padding: 0; }

.ul-inline li {
  display: inline-block; }

.display-none {
  display: none; }

.display-block {
  display: block; }

.inline-block {
  display: inline-block; }

.full-height {
  height: 100%; }

.full-width {
  width: 100%; }

.full-height-topbar {
  height: calc(100vh - 2.9375rem); }
  @media screen and (min-width: 45.0625rem) {
    .full-height-topbar {
      height: calc(100vh - 3.75rem); } }
  @media screen and (min-width: 60.0625rem) {
    .full-height-topbar {
      height: calc(100vh - 5.8125rem); } }

.center {
  text-align: center; }

.right {
  text-align: right; }

.left {
  text-align: left; }

.relative {
  position: relative; }

.bottom-2 {
  bottom: 0.125rem; }

.bottom-right {
  position: absolute;
  bottom: 0;
  right: 0; }

.fixed--bottom {
  position: fixed;
  bottom: 0; }

.margin-auto {
  margin: auto; }

.z-0 {
  z-index: 0; }

.z-1 {
  z-index: 1; }

.no-margin--top {
  margin-top: 0; }

.no-margin--bottom {
  margin-bottom: 0; }

.no-margin {
  margin: 0; }

.margin-center {
  margin: 0 auto; }

.margin-space-top {
  margin-top: 0.875rem; }

.margin-space-right {
  margin-right: 0.875rem; }

.margin-space-bottom {
  margin-bottom: 0.875rem; }

.margin-space-left {
  margin-left: 0.875rem; }

.margin-space-top-small {
  margin-top: 0.4375rem; }

.padding-space-left {
  padding-left: 0.875rem; }

.padding-space-right {
  padding-right: 0.875rem; }

.bg-red-light {
  background-color: #f2dede; }

.bg-grey-xlight {
  background-color: #EBEBEB; }

.bg-grey-light {
  background-color: #C0C0C0; }

.bg-grey {
  background-color: #424242; }

.bg-grey-dark {
  background-color: #373636; }

.bg-grey-xdark {
  background-color: #242424; }

.bg-marketing-red {
  background-color: #dd6280; }

.bg-marketing-red-light {
  background-color: #f8e0e6; }

.bg-image-overlay {
  position: relative;
  z-index: 0; }
  .bg-image-overlay:before {
    background-color: rgba(0, 0, 0, 0.3);
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1; }

.note {
  background-color: #424242;
  color: #ffffff;
  margin: 0.5rem 0;
  padding: 0.25rem 0.625rem; }

html, body {
  width: 100%;
  height: 100%; }

body {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
  margin: 0;
  padding: 0; }

h1, h2, h3 {
  margin: 0; }

h1, h2, h3, strong, th, .report__table th.right {
  font-weight: 500; }

h1 {
  font-weight: 300;
  font-size: 28px;
  margin: 5px 0; }

h2 {
  font-size: 20px; }

h3 {
  font-size: 16px;
  margin-top: 40px;
  margin-bottom: 15px; }

p {
  line-height: 1.6;
  margin-bottom: 20px; }

a {
  color: black; }

.ul--small {
  padding-left: 14px; }

.box--small {
  font-size: 11px;
  padding: 10px; }
  .box--small ul {
    margin: 0;
    padding-left: 14px; }
  .box--small p {
    margin: 0 0 3px 0; }

.icon--high, .icon--redlist, .icon--redlist-medium, .icon--redlist-small, .icon--grey {
  border-radius: 100%;
  margin-right: 8px;
  width: 24px;
  height: 24px;
  display: inline-block; }

.icon--high {
  background-color: #DD2E26; }
.icon--redlist, .icon--redlist-medium, .icon--redlist-small {
  width: 30px;
  height: 30px;
  background-color: #D82007;
  border-top-right-radius: 0;
  position: relative;
  bottom: 5px; }
.icon--grey {
  width: 16px;
  height: 16px;
  background-color: #C0C0C0; }

.report__logo {
  width: 180px;
  height: 62px; }
.report__tagline {
  font-size: 16px;
  line-height: 1.2;
  margin-bottom: 12px; }
.report__page-break + h3 {
  margin-top: 0; }
.report__page-break {
  page-break-after: always;
  page-break-inside: avoid; }
.report__multisite--redlist-intro-wrapper {
  margin-top: 0.5rem;
  display: flex;
  align-items: flex-end;
  page-break-inside: avoid; }
.report__overview-list {
  margin: 40px 0;
  padding: 0; }
  .report__overview-list li {
    list-style: none;
    margin: 10px 0; }
.report__overlaps {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  margin: 10px 0;
  padding: 11px 13px; }
  .report__overlaps span {
    float: right; }
  .report__overlaps-multiple span {
    width: 14%;
    text-align: right;
    float: none;
    display: inline-block; }
    .report__overlaps-multiple span:first-child {
      width: 40%;
      text-align: left; }
.report__map-wrapper {
  margin: 50px 0 0 0; }
.report__map {
  height: 300px;
  width: 100%; }
  .report__map img {
    width: 100%; }
  .report--freshwater .report__map {
    margin: 0 0 20px 0; }
.report__map-credit {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 2px 6px;
  position: absolute;
  bottom: 12px;
  right: 0;
  z-index: 1; }
.report__table {
  border-collapse: collapse;
  width: 100%; }
  .report__table th, .report__table th.right,
  .report__table td {
    border: 3px solid white;
    padding: 15px; }
    .report__table th:first-child,
    .report__table td:first-child {
      border-left: none; }
    .report__table th:last-child,
    .report__table td:last-child {
      border-right: none; }
    .report__table th.center,
    .report__table td.center {
      text-align: center; }
  .report__table th, .report__table th.right {
    color: #ffffff;
    font-weight: 500;
    text-align: left; }
    .report__table th.right {
      text-align: right; }
  .report__table tbody.break-word {
    word-wrap: break-word; }
  .report__table tbody tr {
    background-color: #f7f7f7; }
  .report__table tr:nth-child(even) {
    background-color: #e7e7e7; }

.black {
  color: #000000; }

.red {
  color: #DD2E26; }

.bg-grey {
  background-color: #424242; }

.bg-grey-light {
  background-color: #C0C0C0; }

.bg-grey-xlight {
  background-color: #e7e7e7; }

.bg-red {
  background-color: #DD2E26; }

.center {
  text-align: center; }

.text-10 {
  font-size: 10px;
  line-height: 1.3; }

.text-14 {
  font-size: 10px;
  line-height: 1.3; }

.fixed-layout {
  table-layout: fixed; }

.flex, .flex-center, .icon--info, .icon--info-grey, .icon--redlist, .icon--redlist-medium, .icon--redlist-small, .icon--tooltip, .icon--tooltip--red {
  display: flex; }

.flex-h-between {
  justify-content: space-between; }

.page-break-inside-avoid {
  page-break-inside: avoid; }

ul.realms {
  margin-top: 25px;
  padding: 0;
  list-style: none;
  font-size: 14px; }
  ul.realms li {
    margin: 0 10px; }

/*# sourceMappingURL=style.css.map */
